*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: #D8D8D8 ;
}

  nav{
      background-color: black;
      color : red ;
  }

section{

position: relative;
left: 30%;
}

#disp{
  position: relative;
  width: 220px;
  left: 30px;
  font-size: 20px;
}
  #nav-list{
    list-style: none;
    width: 100%;
    margin: 0 auto;
    border: 2px solid coral;


  }
  .nav-item{
    height: 40px;
    display: inline-block;
    text-align: center;
border: 2px solid peru ;

  }

  .nav-item a{
    text-decoration: none;
    color : peru ;

  }
  h1{

    color : #3B0B0B;

  }
  #starter-template{
    margin-top: 20px;

  }

  #container{
        display: flex;
        flex-direction: column;


      }
      .item{
        display: flex;
        flex-direction: row;
      }
      .field-label{
        font-weight: bold;
        width: 155px;

      }
      .field-item::before{
        content: ": ";
      }

      .maclass{
        color : navy;
        border: 2px solid olive;
      }
